<button class="about-me-button">
    About me
</button>

<style>
    .about-me-button {
        background-color: #E05B55;
        border: 2px solid black;
        color: #000;
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        border-radius:calc(infinity * 1px);
        cursor: pointer;
        box-shadow: black 2px 4px 0;
    }

    .about-me-button:hover {
        background-color: #e28884;
    }

    .about-me-button:active {
        background-color: #864a47;
        transform: scale(95%);
    }
</style>